<table class="table">
  <thead>
  <th class="column-content-left">Name</th>
  <th ng-repeat="role in UTCtrl.ROLES track by role.key"
      ng-bind="role.title"></th>
  <th></th>
  </thead>
  <tbody>
  <tr ng-repeat="user in UTCtrl.users | uFilter track by user.id">
    <td ng-bind="user.name"></td>
    <td ng-repeat="(role, value) in user.roles track by role"
        class="column-content-center">
      <input type="checkbox"
             ng-model="user.roles[role]"
             ng-change="UTCtrl.saveUsers()"
       />
    </td>
    <td class="column-content-right">
      <button type="button"
              ng-hide="user.deleting"
              ng-click="UTCtrl.startDeleting(user)">
        Delete
      </button>

      <div ng-show="user.deleting">
        <span>Are you sure?</span><br />
        <button type="button"
                ng-click="user.deleting = false">
          No</button>
        <button type="button"
                ng-click="UTCtrl.deleteUser(user)">
          Yes</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
