<div class="user-worm-container">

  <form name="UFCtrl.form"
        ng-submit="UFCtrl.onSubmit($event)"
        class="form-horizontal">

    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-controller"
             type="text"
             id="name"
             name="name"
             ng-model="UFCtrl.user.name"
             required
             ng-model-options="{updateOn: 'blur'}"
      />
    </div>

    <div class="form-group"
         ng-repeat="role in UFCtrl.ROLES track by role.key">
      <label for="{{role.key}}" ng-bind="role.title"></label>
      <input type="checkbox"
             id="{{role.key}}"
             class="form-control"
             ng-model="UFCtrl.user.roles[role.key]"
       />
    </div>

    <div class="form-group">
      <button type="submit">Ok</button>
    </div>

  </form>

</div>